In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('matches.csv')

In [5]:
data.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

## Most awarded player of match

In [8]:
data['player_of_match'].value_counts().idxmax()

'CH Gayle'

## Find the city where any team has won the most

In [9]:
data['city'].value_counts().idxmax()

'Mumbai'

In [24]:
data.groupby('city')['winner'].count().idxmax()

'Mumbai'

## Find the team that won with most number of runs

In [18]:
data.iloc[data['win_by_runs'].idxmax()]

id                               44
season                         2017
city                          Delhi
date                       5/6/2017
team1                Mumbai Indians
team2              Delhi Daredevils
toss_winner        Delhi Daredevils
toss_decision                 field
result                       normal
dl_applied                        0
winner               Mumbai Indians
win_by_runs                     146
win_by_wickets                    0
player_of_match         LMP Simmons
venue              Feroz Shah Kotla
umpire1                 Nitin Menon
umpire2                   CK Nandan
umpire3                         NaN
Name: 43, dtype: object

## List the winners of every year title

In [37]:
title_winner = data.groupby('season').tail(1)
title_winner['winner'].value_counts().idxmax()

'Mumbai Indians'

In [39]:
# Finding last record in each grouby sub frame
data.groupby('season').agg(['last'])
data.groupby('season').tail(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
58,59,2017,Hyderabad,5/21/2017,Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",NJ Llong,S Ravi,NaN
116,117,2008,Mumbai,6/1/2008,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,Dr DY Patil Sports Academy,BF Bowden,RE Koertzen,NaN
173,174,2009,Johannesburg,5/24/2009,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Deccan Chargers,6,0,A Kumble,New Wanderers Stadium,RE Koertzen,SJA Taufel,NaN
233,234,2010,Mumbai,4/25/2010,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Chennai Super Kings,22,0,SK Raina,Dr DY Patil Sports Academy,RE Koertzen,SJA Taufel,NaN
306,307,2011,Chennai,5/28/2011,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,normal,0,Chennai Super Kings,58,0,M Vijay,"MA Chidambaram Stadium, Chepauk",Asad Rauf,SJA Taufel,NaN
380,381,2012,Chennai,5/27/2012,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,bat,normal,0,Kolkata Knight Riders,0,5,MS Bisla,"MA Chidambaram Stadium, Chepauk",BF Bowden,SJA Taufel,NaN
456,457,2013,Kolkata,5/26/2013,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,23,0,KA Pollard,Eden Gardens,HDPK Dharmasena,SJA Taufel,NaN
516,517,2014,Bangalore,6/1/2014,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,3,MK Pandey,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
575,576,2015,Kolkata,5/24/2015,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,41,0,RG Sharma,Eden Gardens,HDPK Dharmasena,RK Illingworth,NaN
635,636,2016,Bangalore,5/29/2016,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
695,7953,2018,Mumbai,27/05/18,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,8,SR Watson,Wankhede Stadium,Marais Erasmus,S Ravi,Nitin Menon
755,11415,2019,Hyderabad,12/5/2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

## Find the most awarded player by season

In [73]:
data.groupby(['season'])['player_of_match'].agg(pd.Series.mode)

season
2008                        SE Marsh
2009                       YK Pathan
2010                    SR Tendulkar
2011                        CH Gayle
2012                        CH Gayle
2013                      MEK Hussey
2014                      GJ Maxwell
2015                       DA Warner
2016                         V Kohli
2017    [BA Stokes, NM Coulter-Nile]
2018                     Rashid Khan
2019                      AD Russell
Name: player_of_match, dtype: object

## Drop the rows

#### 1) Team1 or Team2 has Pune, Gujarat and Kochi

In [92]:
d1 = data[(data['team1'].str.contains('Pune|Gujarat|Kochi|Deccan')) | (data['team2'].str.contains('Pune|Gujarat|Kochi|Deccan'))]
d1.shape

(70, 18)

In [93]:
data.shape

(626, 18)

In [94]:
data.drop(d1.index, inplace=True)
data.shape

(556, 18)

#### 2) dl_applied

In [95]:
data.dl_applied.value_counts()

0    556
Name: dl_applied, dtype: int64

In [96]:
data['dl_applied'].unique()

array([0], dtype=int64)

In [97]:
data.drop(data[data['dl_applied']==True].index, inplace=True)
data.shape

(556, 18)

## Fill missing values with mean of that column

In [101]:
data.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [121]:
data['umpire1'] = data['umpire1'].fillna(data['umpire1'].mode()[0])
data['umpire2'] = data['umpire2'].fillna(data['umpire2'].mode()[0])

In [122]:
data.isna().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               3
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              0
umpire2              0
umpire3            440
dtype: int64

In [115]:
data['umpire1'].fillna(data['umpire1'].mode)

0                                            AY Dandekar
4      <bound method Series.mode of 0                ...
6                                            Nitin Menon
7                                           AK Chaudhary
9                                            Nitin Menon
10                                            A Deshmukh
11                                 KN Ananthapadmanabhan
13                                           AY Dandekar
14                                              YC Barde
17                                           Nitin Menon
18                                           AY Dandekar
20                                           CB Gaffaney
21                                             M Erasmus
23                                        A Nand Kishore
26                                           CB Gaffaney
30                                              NJ Llong
31                                           Nitin Menon
34                                              YC Barde
35                                           AY Dandekar
36                                          AK Chaudhary
38                                              YC Barde
41                                           CB Gaffaney
43                                           Nitin Menon
44                                           AY Dandekar
46                                 KN Ananthapadmanabhan
47                                        A Nand Kishore
49                                            A Deshmukh
52                                        A Nand Kishore
54                                             CK Nandan
57                                              NJ Llong
                             ...
726                                       Marais Erasmus
727                                       Anil Chaudhary
728                                            Ian Gould
729                                          Nigel Llong
730                                            Ian Gould
731                                               S Ravi
732                                         Ulhas Gandhe
733                                          Nitin Menon
734                                      Vineet Kulkarni
735                                               S Ravi
736                                          Nigel Llong
737                                       Bruce Oxenford
738                                            Ian Gould
739                                          Nigel Llong
740                                       Yeshwant Barde
741                                       Bruce Oxenford
742                                            Ian Gould
743                                               S Ravi
744                                          Nigel Llong
745                                        Anil Dandekar
746                                               S Ravi
747                                       Bruce Oxenford
748                                            Ian Gould
749                                          Nigel Llong
750                                KN Ananthapadmanabhan
751                                        Nanda Kishore
752                                          Nigel Llong
753    <bound method Series.mode of 0                ...
754                                        Sundaram Ravi
755                                          Nitin Menon
Name: umpire1, Length: 556, dtype: object

## Who has taken most number of wickets in match when chasing and print the umpire of that match

In [125]:
matches = pd.read_csv('matches.csv')
deliveries = pd.read_csv('deliveries.csv')

In [124]:
deliveries.shape

(179078, 21)

In [127]:
matches.shape

(756, 18)

In [129]:
data = deliveries[(deliveries['inning'] == 2) | (deliveries['inning'] == 4)]
data.shape

(86278, 21)

In [134]:
data = data[data['player_dismissed'].notna()]
data.shape

(4221, 21)

In [168]:
match_id = data.groupby(['match_id'])['bowler'].value_counts().idxmax()[0] # Match in which the bowler has took most wickets
match_id

440

In [169]:
matches[matches['id'] == match_id]['umpire1'] # Umpire in which the most wickets are took

439    S Das
Name: umpire1, dtype: object